#form{
    border: 2px lightgray;
    padding-left: 35%;
    padding-right: 35%;
    border-radius: 25px;
    padding-bottom: 1%;
    background-color: rgb(41, 43, 46);
    float:right;
    
}